@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

:root {
  --background-blue: #26335d;
  --primary-background: #ff6551;
  --base-white: #ffffff;
  --sale: #e74040;
  --old-price-color: #bdbdbd;
  --new-price-color: #2435a1;
  --disabled-color: #8ec2f2;
}
body {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  height: 818px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/header-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .header__navbar {
    height: 15%;
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .navbar-nav {
      text-align: right;
      .btn-primary,
      .btn-primary:hover,
      .btn-primary:active,
      .btn-primary:visited {
        background-color: var(--primary-background) !important;
        border-color: var(--primary-background);
      }
    }
    span.navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    button.navbar-toggler {
      border: 1px solid white;
    }
  }
  .header__title {
    height: 85%;
    .header__title_col {
      .btn-primary,
      .btn-primary:hover,
      .btn-primary:active,
      .btn-primary:visited {
        background-color: var(--primary-background) !important;
        border-color: var(--primary-background);
      }
      .header_h3 {
        font-size: 16px;
        color: var(--primary-background);
      }
      .header_h1 {
        font-size: 62px;
        line-height: 80px;
        padding: 30px 0;
      }
      .header_paragraph {
        font-size: 20px;
        font-weight: 400;
        padding: 20px 0;
      }
    }
  }
}
main {
  background-color: var(--background-blue);
  .advice {
    .advice__title {
      .advice__title__h3 {
        font-size: 16px;
        color: var(--primary-background);
      }
      .advice__title__h2 {
        font-size: 40px;
        color: var(--base-white);
      }
      .advice__title__p {
        font-size: 14px;
        color: var(--base-white);
      }
    }
    .advice__cards__wrap {
      .advice__card__item {
        aspect-ratio: 1/1.5;
        border-radius: 3px;
        background-color: var(--base-white);
        img {
          width: 70px;
          height: 76px;
          border-radius: 10px;
        }
        .advice__card__item__h5 {
          font-size: 16px;
          font-weight: 700;
        }
        .advice__card__item__hr {
          width: 35%;
          border: 1px solid red;
        }
      }
      .advice__card__item_colored {
        background-color: var(--primary-background);
        .advice__card__item__hr {
          border: 1px solid var(--base-white);
        }
      }
    }
  }
  .doctor {
    .doctor__img {
      width: 100%;
      height: auto;
    }
    .doctor__div__hr {
      border: 4px solid var(--primary-background);
      width: 25%;
    }
    .doctor__h3 {
      font-size: 50px;
      color: var(--base-white);
      font-weight: 700;
      line-height: 50px;
    }
    .doctor__p {
      font-size: 16px;
      color: var(--base-white);
    }
    .doctor__link {
      text-decoration: none;
      color: var(--primary-background);
    }
  }
  .courses {
    .courses__title {
      .courses__title__h3 {
        font-size: 16px;
        color: var(--primary-background);
      }
      .courses__title__h2 {
        font-size: 40px;
        color: var(--base-white);
      }
      .courses__title__p {
        font-size: 14px;
        color: var(--base-white);
      }
    }
    .courses__cards {
      .row {
        .courses__cards_wrap {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          .card__item {
            background-color: var(--base-white);
            height: 630px;
            aspect-ratio: 1/2.4;
            .t__side {
              height: 330px;
              img {
                width: 40px;
                height: 40px;
              }
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
              grid-template-rows: 1fr 4fr 1fr;
              justify-items: center;
              .discount {
                grid-column: 1/3;
                grid-row: 1/2;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                .sale {
                  color: var(--base-white);
                  background-color: var(--sale);
                  border: 1px solid var(--sale);
                  border-radius: 4px;
                  padding: 3px 8px;
                  margin-left: -25px;
                }
              }
              .like {
                grid-column: 2/3;
                grid-row: 3/4;
              }
              .basket {
                grid-column: 3/4;
                grid-row: 3/4;
              }
              .watch {
                grid-column: 4/5;
                grid-row: 3/4;
              }
            }
            .b__side {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 0.7fr 1.3fr 0.7fr 0.7fr 0.7fr 1fr;
              justify-content: start;
              align-items: center;
              padding: 15px 7px;
              .b__side__h5_wrap {
                grid-column: 1/2;
                grid-row: 1/2;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: flex-start;
                .b__side__h5 {
                  font-size: 15px;
                  color: var(--primary-background);
                }
                .b__side__star-wrap {
                  display: flex;
                  flex-flow: row nowrap;
                  align-items: center;
                  background-color: var(--background-blue);
                  padding: 5px 10px;
                  border-radius: 55%;
                  color: var(--base-white);
                  .b__side__h5_img {
                    width: 16px;
                    height: 16px;
                    object-position: center;
                    object-fit: cover;
                  }
                }
              }
              .b__side__h4 {
                grid-column: 1/2;
                grid-row: 2/3;
                font-size: 18px;
                font-weight: 700;
              }
              .b__side__p {
                grid-column: 1/2;
                grid-row: 3/4;
                margin-bottom: 0;
                color: var(--old-price-color);
              }
              .b__side__sales-wrap {
                grid-column: 1/2;
                grid-row: 4/5;
                display: flex;
                flex-flow: row nowrap;
                justify-content: start;
                align-items: center;
                .b__side__sales_img {
                  width: 16px;
                  height: 16px;
                  object-fit: cover;
                  object-position: center;
                }
                .b__side__span {
                  padding-left: 5px;
                }
              }
              .b__side__price {
                grid-column: 1/2;
                grid-row: 5/6;
                .old {
                  color: var(--old-price-color);
                }
                .new {
                  color: var(--new-price-color);
                }
                margin-bottom: 0;
              }
              .b__side__btn {
                grid-column: 1/2;
                grid-row: 6/7;
                justify-self: center;
                align-self: end;
                width: 144px;
                height: 44px;
                border-radius: 35px;
                border: 2px solid var(--primary-background);
                box-shadow: none;
                background-color: var(--base-white);
                color: var(--primary-background);
                .b__side__btn-arw {
                  padding-left: 8px;
                }
              }
            }
          }
          .card__item_1 {
            .t__side {
              width: 100%;
              background-image: url("../img/courses_card_1.png");
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
          .card__item_2 {
            .t__side {
              width: 100%;
              background-image: url("../img/courses_card_2.png");
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
          .card__item_3 {
            .t__side {
              width: 100%;
              background-image: url("../img/courses_card_3.png");
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
          .card__item_4 {
            .t__side {
              width: 100%;
              background-image: url("../img/courses_card_4.png");
              background-repeat: no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
  }
  .pricing {
    .pricing__title {
      .pricing__title__h3 {
        font-size: 16px;
        color: var(--primary-background);
      }
      .pricing__title__h2 {
        font-size: 40px;
        color: var(--base-white);
      }
      .pricing__title__p {
        font-size: 14px;
        color: var(--base-white);
      }
    }
    .pricing__cards {
      .pricing-card-wrap {
        background-color: var(--base-white);
        position: relative;
        width: 330px;
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 0.5fr 0.5fr 0.7fr 0.5fr 0.7fr 3fr;
        justify-content: center;
        align-items: center;
        .logo {
          grid-column: 1/2;
          grid-row: 1/2;
          .pricing__logo_img {
            width: 96px;
            height: 96px;
            object-position: center;
            object-fit: cover;
          }
        }
        .free {
          grid-column: 1/2;
          grid-row: 2/3;
          font-size: 24px;
          line-height: 32px;
          font-weight: 700;
        }
        .first-text {
          grid-column: 1/2;
          grid-row: 3/4;
          font-size: 14px;
        }
        .price {
          grid-column: 1/2;
          grid-row: 4/5;
          .price_num {
            font-size: 40px;
            font-weight: 700;
            color: var(--sale);
            margin-bottom: 0;
          }
          .mounth {
            font-size: 14px;
            color: var(--disabled-color);
          }
        }
        .second-text {
          grid-column: 1/2;
          grid-row: 5/6;
        }
        .pricing-button {
          grid-column: 1/2;
          grid-row: 6/7;
          width: 240px;
          height: 50px;
          border-radius: 7px;
          border: 1px solid var(--sale);
          background-color: var(--sale);
          box-shadow: none;
          color: var(--base-white);
          font-weight: 500;
        }
        .pricing-ul {
          grid-column: 1/2;
          grid-row: 7/8;
          list-style: none;
          li {
            margin: 15px 0;
            padding: 5px 30px;
            position: relative;
          }
          .green-tips::before {
            content: "";
            position: absolute;
            margin-left: -35px;
            width: 30px;
            height: 30px;
            background-image: url("../img/green-done.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
          .grey-tips::before {
            content: "";
            position: absolute;
            margin-left: -35px;
            width: 30px;
            height: 30px;
            background-image: url("../img/grey-done.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  .experts {
    .experts__title {
      .experts__title__h3 {
        font-size: 16px;
        color: var(--primary-background);
      }
      .experts__title__h2 {
        font-size: 40px;
        color: var(--base-white);
      }
      .experts__title__p {
        font-size: 14px;
        color: var(--base-white);
      }
    }
    .expert__card__wrap {
      // width: 450px;
      background-color: var(--base-white);
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      padding: 15px;
      .expert__card__p {
        text-align: center;
      }
      .expert__card__img {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        padding: 10px;
      }
      .stars {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 35%;
        margin: 0 auto;
        padding: 10px;
        img {
          width: 20px;
          height: 20px;
          object-fit: cover;
          object-position: center;
        }
      }
      .expert__card__name {
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
      }
      .expert__card__role {
        font-size: 14px;
        font-weight: 700;
        color: var(--old-price-color);
      }
    }
  }
  .newsletter {
    .newsletter__title {
      .newsletter__title__h3 {
        font-size: 16px;
        color: var(--primary-background);
      }
      .newsletter__title__h2 {
        font-size: 40px;
        color: var(--base-white);
      }
      .newsletter__title__p {
        font-size: 14px;
        color: var(--base-white);
      }
      .newsletter-form {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
        background-color: var(--base-white);
        border-radius: 10px;
        .form-input {
          box-shadow: none;
          border: none;
        }
      }
    }
  }
  .navigation {
    .navigation-wrap {
      .navigation_ul_wrap {
        ul {
          list-style: none;
          position: relative;
          color: var(--base-white);
          li {
            font-size: 14px;
            font-weight: 500;
            padding: 5px;
          }
          .navigation__phone,
          .navigation__place,
          .navigation__mail {
            margin-left: 30px;
          }
          .navigation__phone::before {
            content: " ";
            width: 25px;
            height: 25px;
            position: absolute;
            margin-left: -30px;
            background-image: url("../img/phone.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
          .navigation__place::before {
            content: " ";
            width: 25px;
            height: 25px;
            position: absolute;
            margin-left: -30px;
            background-image: url("../img/place.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
          .navigation__mail::before {
            content: " ";
            width: 25px;
            height: 25px;
            position: absolute;
            margin-left: -30px;
            background-image: url("../img/letter.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
        ul:first-child {
          font-size: 26px;
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header .header__title .header__title_col {
    // margin-top: -100px;
    font-weight: 500;
    .header_h3 {
      font-size: 16px;
    }
    .header_h1 {
      font-size: 38px;
      line-height: 40px;
      padding: 5px 0;
    }
    .header_paragraph {
      font-size: 20px;
      font-weight: 400;
      padding: 10px 0;
    }
  }
}
