@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --background-blue: #26335d;
  --primary-background: #ff6551;
  --base-white: #ffffff; }

body {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif; }

.header {
  height: 818px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .header .navbar-nav {
    text-align: right; }
  .header span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .header button.navbar-toggler {
    border: 1px solid white; }
  .header .header__navbar {
    height: 15%; }
  .header .header__title {
    height: 85%; }
    .header .header__title .header__title_col {
      margin-top: -90px;
      font-weight: 700; }
      .header .header__title .header__title_col .header_h3 {
        font-size: 16px; }
      .header .header__title .header__title_col .header_h1 {
        font-size: 62px;
        line-height: 80px;
        padding: 30px 0; }
      .header .header__title .header__title_col .header_paragraph {
        font-size: 20px;
        font-weight: 400;
        padding: 20px 0; }

.advice {
  height: 818px;
  background-color: var(--background-blue); }
  .advice .advice__title {
    height: 40%; }
    .advice .advice__title .advice__title__h3 {
      font-size: 16px;
      color: var(--primary-background); }
    .advice .advice__title .advice__title__h2 {
      font-size: 40px;
      color: var(--base-white); }
    .advice .advice__title .advice__title__p {
      font-size: 14px;
      color: var(--base-white); }
  .advice .advice__cards__wrap {
    height: 60%; }
    .advice .advice__cards__wrap .advice__card__item {
      aspect-ratio: 1/1.5;
      border-radius: 3px;
      background-color: var(--base-white); }
      .advice .advice__cards__wrap .advice__card__item img {
        width: 70px;
        height: 76px;
        border-radius: 10px; }
      .advice .advice__cards__wrap .advice__card__item .advice__card__item__h5 {
        font-size: 16px;
        font-weight: 700; }
      .advice .advice__cards__wrap .advice__card__item .advice__card__item__hr {
        width: 35%;
        height: 1px;
        border: 1px solid red; }
    .advice .advice__cards__wrap .advice__card__item_mt10 {
      margin-top: 50px; }
    .advice .advice__cards__wrap .advice__card__item_mb10 {
      margin-bottom: 50px; }
    .advice .advice__cards__wrap .advice__card__item_colored {
      background-color: var(--primary-background); }
      .advice .advice__cards__wrap .advice__card__item_colored .advice__card__item__hr {
        border: 1px solid var(--base-white); }

@media screen and (max-width: 768px) {
  .header .header__title .header__title_col {
    margin-top: -30px;
    font-weight: 500; }
    .header .header__title .header__title_col .header_h3 {
      font-size: 16px; }
    .header .header__title .header__title_col .header_h1 {
      font-size: 38px;
      line-height: 40px;
      padding: 5px 0; }
    .header .header__title .header__title_col .header_paragraph {
      font-size: 20px;
      font-weight: 400;
      padding: 10px 0; } }

/*# sourceMappingURL=style.css.map */
